.register-form {
    margin: 0 auto;
    width: 50%;
}

.register-form input:not([type=checkbox]) {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.reg-btn {
    background-color: #0d6efd;
    color: white;
}